<% post_comments.each do |post_comment| %>
  <tr>
    <td>
        <%= link_to user_path(post_comment.user) do %>
          <%= attachment_image_tag(post_comment.user, :profile_image,  :fill, 70, 70, fallback: "no-image-mini.jpg", class: "img-circle  pull-left profile-thumb") %>
          <b><%= post_comment.user.name %></b>
        <% end %>
    <td>
      <p><%= post_comment.comment %></p>
    </td>
    <td>
      <%= time_ago_in_words(post_comment.created_at) %>前
    </td>
    <td>
      <% if post_comment.user == current_user %>
        <%= link_to post_post_comments_path(post_comment, post_comment.post), method: :delete, remote: true do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
<% end %>

<!-- コメント内容(4件目以降) ------------------------------------------------------------------>
  <% post_comments.offset(3).each do |post_comment| %>
   <!--  <tr>
      <td>
          <%= link_to user_path(post_comment.user) do %>
            <%= attachment_image_tag(post_comment.user, :profile_image,  :fill, 70, 70, fallback: "no-image-mini.jpg", class: "img-circle  pull-left profile-thumb") %>
            <b><%= post_comment.user.name %></b>
          <% end %>
      <td>
        <p><%= post_comment.comment %></p>
      </td>
      <td>
        <%= time_ago_in_words(post_comment.created_at) %>前
      </td>
      <td>
        <% if post_comment.user == current_user %>
          <%= link_to post_post_comments_path(post_comment, post_comment.post), method: :delete, remote: true do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </td>
    </tr> -->
  <% end %>
