<% user.each do |user| %>
<div class="index">
  <%= link_to user_path(user) do %>
    <%= attachment_image_tag(user, :profile_image, size:'80x80', fallback: "no_image.jpg", size:'80x80' , class: "rounded-circle")%>
  <% end %>
  <div class="index-info">
    <div class="post-user">
      <strong class="user-name"><%= user.name %></strong>
      <%= render "users/follow", user: user %>
    </div>
    <div class="follows">
      <span>フォロー：<%= link_to user.follower.count, user_follows_path(user) %></span> | <span>フォロワー：<%= link_to user.followed.count, user_followers_path(user) %></span>
    </div>
  </div>
</div>
<% end %>
