<%= form_with model: post, local: true do |f| %>
    <%= attachment_image_tag post, :image, id: :img_prev, fallback: "no_image.jpg", class: "update-img" %>
    <%= f.attachment_field :image, id: :image %>

    <p class="margin-top">ゴミの数</p>
    <%= f.select :garbage_count, [*(1..50)], {selected: 1}, class: "garbage_count" %> 個
    <span class="help-block"></span>

    <p class="margin-top">参加人数</p>
    <%= f.select :join_amount, [*(1..50)], {selected: 1}, class: "join_amount" %> 人
    <span class="help-block"></span>

    <p class="margin-top">日時</p>
    <%= f.date_field :published_at, class: 'form-control' %>
    <%= f.time_field :published_at, class: 'form-control' %>
    <span class="help-block"></span>

    <%= f.text_area :content, autofocus: true, autocomplete: "content", placeholder: "コメント入力", class: "content form-control" %>
    <span class="help-block"></span>

    <!-- map -->
    <div class="spot margin-top">
      <%= f.fields_for :spot do |s| %>
        <%= s.label :address, "拾った場所(Google Mapで検索)", class: 'spot__title' %>
        <%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'spot__text form-control' %>
        <%= s.hidden_field :longitude, id: "longitude" %>
        <%= s.hidden_field :latitude, id: "latitude" %>
      <% end %>
      <input onclick= "codeAddress()" type= "button" value= "検索する" class="btn-xs btn btn-success"></input>
      <div class= "map" id= "map", style= "height: 320px; width: 450px;" ></div>
    </div>

    <div class="flex align-center pl5">
      <%= f.submit "投稿" , class: "btn btn-primary" %>
    </div>
<% end %>