<%= form_with model: post, local: true do |f| %>
  <table class="post_info post_form">
      <thead>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr>
          <td><%= attachment_image_tag post, :image, id: :img_prev, fallback: "no_image.jpg", class: "update-img" %></td>
          <td><%= f.attachment_field :image, id: :image %></td>
        </tr>
        <tr>
          <td><%= f.label :garbage_count, 'ゴミの数' %></td>
          <td colspan="2"><%= f.select :garbage_count, [*(1..50)], {selected: 1}, class: "garbage_count" %> 個
            <span class="help-block"></span>
          </td>
        </tr>
        <tr>
          <td><%= f.label :join_amount, "参加人数" %></td>
          <td colspan="2"><%= f.select :join_amount, [*(1..50)], {selected: 1}, class: "join_amount" %> 人
            <span class="help-block"></span>
          </td>
        </tr>
        <tr>
          <td><%= f.label :published_at, "日時" %></td>
          <td colspan="2">
            <%= f.date_field :published_at, class: 'form-control' %>
            <%= f.time_field :published_at, class: 'form-control' %>
            <span class="help-block"></span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td colspan="2"><%= f.text_area :content, autofocus: true, autocomplete: "content", placeholder: "コメント入力", class: "content form-control" %>
            <span class="help-block"></span>
          </td>
        <!-- </tr>
         <tr>
          <%= f.fields_for :spot do |s| %>
            <td><%= s.label :address, "ゴミを拾った場所(キーワードで検索)", class: 'spot__title' %></td>
            <td colspan="2"><%= s.text_field :address, placeholder: "スポットを入力", id: "address", class: 'spot__text form-control' %>
          <% end %>
              <input onclick= "codeAddress()" type= "button" value= "検索する" class="btn-xs btn btn-success"></input>
              <div class= "map" id= "map", style= "height: 320px; width: 450px;" ></div>
            </td>
        </tr> -->
        <tr>
          <td colspan="2"><%= f.submit "投稿", class: "btn btn-primary" %></td>
        </tr>
      </tbody>
  </table>
<% end %>

<script>
  $('.date-picker').datetimepicker(pickTime: false);
</script>