<% posts.each do |post| %>
<div class="posts-index">
  <div class="img-post">
    <%= link_to post_path(post) do %>
      <%= attachment_image_tag post, :image, size: '120x120', class: "img-rounded"%>
    <% end %>
  </div>
  <div class="post-info">
    <div class="post-user">
      <%= link_to user_path(post.user) do %>
        <%= attachment_image_tag(post.user, :profile_image, size:'50x50', fallback: "no_image.jpg", size:'50x50', class: "rounded-circle")%>
        <strong class="user-name" ><%= post.user.name %></strong>
      <% end %>
        <span><%= time_ago_in_words(post.created_at) %>前</span>
    </div>
    <p class="post-user-content"><%= post.content.truncate(20) %></p>
  </div>
</div>
<% end %>

