<div class="container">
    <div class="row">
      <div class="show">
        <div class="show__maps map center-block" id="show_map" style="height: 320px; width: 500px;">
        </div>
      </div>
    </div>

    <div class="row">
      <table class="table table-filter table-container">
          <tr id="post_<%= @post.id %>">
            <%= render 'detail', post: @post %>
          </tr>
      </table>
    </div>

    <div class="row">
      <div class="panel-body">
          <p class="pull-left"><i class="fas fa-comment"></i> <%= @post_comments.count %> コメント</p>
        <% if @post_comments.count > 3 %>
          <p class="more pull-right btn btn-default btn-xs" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">もっと見る</p>
        <% end %>
        <table class="table comment_<%= @post.id %>">
          <%= render 'post_comments/comment', post_comments: @post_comments %>
        </table>
      </div>
    </div>

    <div class="row">
      <%= form_for [@post, @post_comment], remote: true do |f| %>
        <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントを投稿しましょう！" %>
        <%= f.submit "送信", class: "btn btn-primary mt-20 pull-right" %>
      <% end %>
    </div>

    <div class="row">
      <%= link_to posts_path do %>
        <i class="fa fa-arrow-circle-left fa-fw"></i> 投稿一覧へ
      <% end %>
    </div>
</div>